*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#headcolor{
    background-color: #316dc3;
    padding-top: 10px;
    padding-bottom: 10px;
}

div span a>img{
    margin: 5px;
    max-width: 18px;
}

#headcolor p{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 0.5em;
}

header div button{
    padding: 5px;  
    font-size: 12px;
    border-color: green; 
    color: green; 
    border-style: none;
}

.container{
    clear:both;
    overflow:auto;
    background-color: #f7f8fa;
    padding: 1%;
}
  
nav{float:right;}
  
.logo img{float:left;
margin-left: 10%;}
  
ul li{
    display: inline-block; padding:10px;
    font-size:13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container nav{
      margin-right: 10%;
  }
#active{
    color: white;
    border-radius: 15px;
    background-color: #316dc3;
}

#lines,#form h5{
    color: #316dc3;
}

#form{
    float: left;
    margin-left: 5%;
    padding-bottom: 10%;
}

#form form p{
    font-size: 1em;
    font-weight: bold;
    color:#a7a8a6;
    margin: 10px;
}
#form form input{
    text-align: left;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;}

    .form-control1 {
        display: block;
        width: 107%;
        height: 44px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;}

#submit-btn{
    color: #fff;
    border-style: none;
    /* background-color: #F26522; */
    /* border-color: #F26522; */
    background-color: #427900;
    border-color: #427900;

    padding: 8px;
    margin-top: 15px;
}

.form-control2 {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;}

#right-contents{
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    display: block;
}

#paypalline{
    margin: 5% 0% 2% 0;
}

#footer{
    clear: both;
    background-color: #24272e;
    display: flex;

}

#footleft{
    font-size: 12px;
    color: #8d9eb0;
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#footleft p{
    margin: 1%;
}
#footleft p>img{
    margin-right: 5px;
}

#footcenter{
    color:#8d9eb0;
    margin-top: 3%;
    margin-right: 10%;
}

#footright{
    margin-left: 10%;
    margin-right: 30%;
    padding-top: 3%;
    color: grey;
}

.footermain{
    background-color: #306dd8;
    color: white;
}
.footermain p{
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10;
    font-size: 12px;
}
.coverimg img{
    max-width: 200%;
}

/*For laptops*/
@media all and (max-width:1920)

/* For tablets*/
@media all and (max-width:2732){
    #form{
        margin-left: 250px;
    }
}

@media screen and (max-width: 1080px) {
    #form{
        display: flex;
        max-width: 120%;
    }
    #form h5{
        position: relative;
        left: 330px;
        top: -25px;
    }
    #right-contents{
        position: relative;
        right: 180px;
        top: -100px;
    }